<form class="bg-white shadow pb-5 mt-md-150 ms-h-100" (submit)="onSubmit($event)" #editForm="ngForm" novalidate>
  <div class="logo form-group px-5 py-5 theme-bg-color mb-5">
    <div class="text-white d-flex align-items-center">
      <div>
        <h2>Forgot </h2>
        <h2>password</h2>
      </div>
    </div>
  </div>
  <div class="form-group px-5 mb-4">
    <dx-text-box email name="email" [stylingMode]="'underlined'" [(value)]="emailText" placeholder="Email"
      [disabled]="inputEmail">
      <dx-validator>
        <!-- <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
        <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule> -->
      </dx-validator>
    </dx-text-box>
    <label *ngIf="inputEmail" class="tips mt-2">A message will be sent to this email.</label>
  </div>

  <div class="form-group text-left px-5">
    <dx-button class="submit my-5" height="40" stylingMode="contained" type="default" text="Submit"
      [useSubmitBehavior]="true"></dx-button>
    <dx-button class="submit" height="40" stylingMode="contained" type="normal" text="Cancel" (onClick)="onCancel()">
    </dx-button>
  </div>

</form>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#loginForm' }" [(visible)]="loading"
  [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>