<div class="card border-0">
  <div class="card-body p-0">
    <form>
      <div class="form-group my-4">
        <label for="name">Name</label>
        <dx-text-box [disabled]="true" id="name" [value]="profile.name"> </dx-text-box>
      </div>
      <div class="form-group my-4">
        <label for="name">Client Name</label>
        <dx-text-box [disabled]="true" id="name" [value]="profile.client_name"> </dx-text-box>
      </div>
      <div class="form-group my-4">
        <label for="email">Email</label>
        <dx-text-box [disabled]="true" id="email" width="100%" [value]="profile.email"></dx-text-box>
      </div>
      <div class="form-group my-4">
        <label for="mobile">Mobile</label>
        <dx-text-box [disabled]="true" id="mobile" width="100%" [value]="profile.mobile_number"></dx-text-box>
      </div>
    </form>
  </div>
</div>