<dx-toolbar #dxtoobar>
  <dxi-item widget="dxButton" location="before">
    <dx-button [icon]="openDrawer?'hidepanel':'showpanel'" (click)="toggleDrawer()"></dx-button>
  </dxi-item>
  <dxi-item widget="dxButton" location="before">
    <dx-button class="logo" text="Jatai" stylingMode="text" (click)="onGoHome()"></dx-button>
  </dxi-item>
  <dxi-item widget="dxButton" location="after">
    <dx-button text="Jatai" stylingMode="text" (click)="onGoHome()"></dx-button>
  </dxi-item>
  <dxi-item locateInMenu="always" widget="dxButton">
    <dx-button text="Profile" (click)="openProfile()"></dx-button>
  </dxi-item>
  <dxi-item locateInMenu="always" widget="dxButton">
    <dx-button text="Change password" (click)="gotoChange()"></dx-button>
  </dxi-item>
  <dxi-item locateInMenu="always" widget="dxButton">
    <dx-button text="Sign out" (click)="onLogout()"></dx-button>
  </dxi-item>
</dx-toolbar>

<dx-popup class="popup" [showTitle]="true" [(visible)]="profileVisible" [minWidth]="350" [maxWidth]="500"
  [dragEnabled]="false" [closeOnOutsideClick]="true" [showCloseButton]="true">

  <div *dxTemplate="let data of 'title'">
    <div class="p-2 d-flex align-items-center bg-transparent">
      <span class="font-weight-bold">Profile</span>
      <dx-button class="ml-auto" stylingMode="text" icon="close" (onClick)="profileVisible=false"></dx-button>

    </div>
    
  </div>
  <app-profile *ngIf="profileVisible"></app-profile>
</dx-popup>