<form class="bg-white shadow pb-5 mt-md-150 ms-h-100" id="loginForm">
  <div class="logo form-group px-5 py-5 theme-bg-color mb-5">
    <div class="text-white d-flex align-items-center">
      <div>
        <h2>Jatai</h2>
      </div>
    </div>
  </div>
  <div class="form-group px-5 mb-4">
    <dx-text-box name="username" id="usernane" stylingMode="underlined" [showClearButton]="true"
      placeholder="Mobile number" [(ngModel)]="loginSvc.user.mobile_number" (onEnterKey)="login()">
    </dx-text-box>
  </div>
  <div class="form-group px-5 mb-5">
    <dx-text-box mode="password" stylingMode="underlined" name="password" id="password" [showClearButton]="true"
      placeholder="Password" (onEnterKey)="login()">
    </dx-text-box>
  </div>
  <div class="form-group text-left px-5 pt-2">
    <dx-button class="submit" height="40" stylingMode="contained" type="default" text="Sign in" (onClick)="login()">
    </dx-button>
    <div class="forgot-label mt-4 text-theme" (click)="gotoForgotPage()">Forgot password ?</div>
    <!-- <dx-button class="submit" height="40" stylingMode="contained" type="normal" text="Sign up" (onClick)="onSignUp()">
    </dx-button> -->
  </div>
</form>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [position]="{ of: '#loginForm' }" [(visible)]="loading"
  [showIndicator]="true" [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>