// @import "../../../base";

:host {
  height: 100%;
  // margin-top: 150px;
  display: flex;

  @media (max-width: 575.98px) {
    .ms-h-100 {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {
    .mt-md-150 {
      // min-width: 400px;
      width: 375px;
      height: 667px;
      // overflow: hidden;
    }
  }

  ::ng-deep {
    .dx-button-text {
      text-transform: none;
    }

    form {
      margin: auto auto;
      max-width: 450px;
      overflow: auto;
      .logo {
        min-height: 220px;
      }
      .forgot-label {
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
      }
      .bg-default {
        .form-control {
          border-radius: 0;
        }
      }

      dx-text-box {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 16px;
          padding-top: 15px !important;
          padding-bottom: 15px !important;
        }
      }
      .submit {
        width: 100%;
      }
      .submit:hover {
        cursor: pointer;
      }
    }
  }
}
