.theme-color {
  color: #fff;
  background-color: #3d427c !important;
}

.theme-text-color {
  color: #3d427c !important;
}

.theme-bg-color {
  background-color: #3d427c !important;
}

.dx-datagrid-headers {
  border-bottom: 0;
}

.dx-datagrid-content {
  td {
    vertical-align: middle !important;
  }
}
